:root {
  --primary-color: #007c89;
}

/*Default Styles*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.clearfix {
  clear: both;
}

header {
  width: 100%;
  height: 72px;
  padding: 16px;
}

.logo {
  height: 72px;
  line-height: 72px;
  padding-left: 72px;
}

div.left-nav {
  width: 60%;
  float: left;
}

div.left-nav ul {
  text-align: left;
  font-size: 24px;
}

div.left-nav li {
  float: left;
  margin: 0px 24px;
  height: 72px;
  line-height: 72px;
  list-style-type: none;
}

div.left-nav li a {
  color: black;
  text-decoration: none;
}

div.right-nav {
  width: 40%;
  float: left;
}

div.right-nav * {
  display: inline-block;
  height: 72px;
  line-height: 72px;
}

div.right-nav button {
  width: 50px;

  margin-left: 10px;
}

div.right-nav p {
  text-align: right;
  font-size: 12px;
  height: 72px;
  line-height: 72px;
  margin: 0;
}
nav-items li a.active {
  position: relative;
}

nav-items li a.active::after {
  content: "";
  width: 8px;
  height: 8px;
  color: var(--primary-color);
  display: block;
  position: absolute;
}
