:root {
  --primary-color: #007c89;
}

/*Default Styles*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.clearfix {
  clear: both;
}

header {
  width: 100%;
  height: 72px;
  padding: 16px;
}

.logo {
  height: 72px;
  line-height: 72px;
  padding-left: 72px;
}

div.left-nav {
  width: 60%;
  float: left;
}

div.left-nav ul {
  text-align: left;
  font-size: 24px;
}

div.left-nav li {
  float: left;
  margin: 0px 24px;
  height: 72px;
  line-height: 72px;
  list-style-type: none;
}

div.left-nav li a {
  color: black;
  text-decoration: none;
}

div.right-nav {
  width: 30%;
  float: left;
  margin: 0px 24px;
  height: 72px;
  line-height: 72px;
}

div.right-nav button {
  display: inline-block;
  width: 50px;
}

div.right-nav p {
  display: inline-block;
  text-align: right;
  font-size: 24px;
}

.circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: brown;
}

.nav-items li a.active {
  color: var(--primary-color);
  text-decoration: none;
}
nav-items li a.active hoover {
  position: relative;
  text-decoration: underline;
}

nav-items li a.active::after {
  content: "";
  background-color: var(--primary-color);
  transition: 0.08s;
  position: absolute;
}

.btn1,
.btn2 {
  border: 0em;
  outline: none;
  background: none;
}
